@import "normalize";

$white: #f3f3f3;
$teal: #00a99d;
$orange: #feae22;
$navy: #001324;

body {
  font-family: 'Lato', helvetica, arial, sans-serif;
  background: #000;
  font-size: 16px;
  color: $navy;
  background-color: $navy;
  background-image: linear-gradient(45deg,$navy 25%, #090909 25%, #090909 50%, $navy 50%, $navy 75%, #090909 75%, #090909);
  background-size: 150px 150px;
}
a{
  text-decoration: none;
  color: $teal;
}
p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
}

h1,h2,h3,h4,h5,h6{
   font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 800px;
  background: $white;
  margin: 30px auto;
  padding-bottom: 5px;
}
.mainDetails {
  padding: 15px 40px;
  border-bottom: 5px solid $orange;
}
.headshot {
  width: 17%;
  float: left;
  margin-right: 30px;
  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}
.details {
  float: left;
  h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0 0 -6px 0;
  }
  h2 {
    font-size: 2em;
    line-height: 0.9em;
    margin: 0 0 0 2px;
  }
  h3{
    margin: 0;
  }
  .fa-2x{
    font-size: 1.5em;
  }

  ul {
    list-style-type: none;
    position: relative;
    left: -40px;
    margin: 0;
  }
   li {
    display: inline-block;
    margin-right: 4%;
    a:hover{
      color: $orange;
    }
  }
  svg {
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
    fill:$teal;
    &:hover{
      fill: $orange;
    }
  }
}

.mainArea {
  padding: 0 40px;
  margin-bottom: 60px;
  article {
    clear: both;
  }
}
section {
  border-top: 1px solid #dedede;
  padding: 20px 0 0;
  clear: both;
  &:first-child {
    border-top: 0;
  }
  &:last-child {
    padding: 20px 0 10px;
  }
}

.sectionTitle {
  float: left;
  width: 25%;
  h2 {
    font-style: italic;
    font-size: 1.5em;
    color: $teal;
  }
}
.sectionContent {
  float: right;
  width: 72.5%;
  h3 {
    font-size: 1.5em;
    margin-bottom: -2px;
  }
  h4{
    margin: 0;
  }
  ul.checked-square,ul.checked, ul.icons {
      list-style: none;
      padding-left: 20px;
      li {
          margin-top: 15px;
      }
      i[class^="fa"] {
        color: $orange;
          margin-right: 8px;
      }
  }
}

ul.checked-square li:before, ul.checked li:before {
  font-family: FontAwesome;
  color: $orange;
  margin-right: 8px;
}

ul.checked-square li:before {
  content: "\f046";
}

ul.checked li:before {
  content: "\f00c"
}


.subDetails {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 3px;
}

.keySkills {
  position: relative;
  list-style-type: none;
  margin: 21px 0;
  padding: 0;
  font-size: 1em;
  color: #444;
  li {
    margin-bottom: 30px;
    height: 30px;
    background: #E4E7EB;
  }
  em{
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  padding-left: 8px;
  top: 4px;
  }
  .expand {
  height: 30px;
  position: absolute;
  }
  .ninetyfive {
  width: 95%;
  animation: ninetyfive 2s ease-out backwards 6s;
  background: $teal;
  }
   .ninety {
  width: 90%;
  animation: ninety 2s ease-out backwards 6s;
  background: $teal;
  }
  .eightyfive {
  width: 85%;
  animation: eightyfive 2s ease-out backwards 6s;
  background: $teal;
  }
  .eighty {
  width: 80%;
  animation: eighty 2s ease-out backwards 6s;
  background: $teal;
  }
  .seventyfive {
  width: 75%;
  animation: seventyfive 2s ease-out backwards 6s;
  background: $teal;
  }
  .seventy {
  width: 70%;
  animation: seventyfive 2s ease-out backwards 6s;
  background: $teal;
  }
  .sixtyfive {
  width: 65%;
  animation: sixtyfive 2s ease-out backwards 6s;
  background: $teal;
  }
  .sixty {
  width: 60%;
  animation: sixty 2s ease-out backwards 6s;
  background: $teal;
  }
}

@keyframes ninetyfive {
  0% { width:0;}
  100% { width:95%;}
}
@keyframes ninety {
  0% { width:0;}
  100% { width:90%;}
}
@keyframes eightyfive {
  0% { width:0;}
  100% { width:85%;}
}
@keyframes eighty {
  0% { width:0;}
  100% { width:80%;}
}
@keyframes seventyfive {
  0% { width:0;}
  100% { width:75%;}
}
@keyframes seventy {
  0% { width:0;}
  100% { width:70%;}
}
@keyframes sixtyfive {
  0% { width:0;}
  100% { width:65%;}
}
@keyframes sixty {
  0% { width:0;}
  100% { width:60%;}
}

@import "media-queries";